<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

   <Product Id="*" UpgradeCode="50000000-1234-1234-1234-111111111111" 
            Name="WindowsShutdownWS" Version="1.0.0" Manufacturer="PolyEngine" Language="1033">
      <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package"/>
      <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFilesFolder">
            <Directory Id="INSTALLDIR" Name="WindowsShutdownWS">
               <Component Id="ApplicationFiles" Guid="50000000-1234-1234-1234-222222222222">
                  <File Id="ApplicationFile" Source="WindowsShutDownWS.exe"/>
                        <ServiceInstall Id="ServiceInstaller" Name="ShutdownWS" Type="ownProcess" Vital="yes" DisplayName="ShutdownWS" Description="Windows shutdown Web service" 
                        Start="auto" Account="LocalSystem" ErrorControl="normal" Interactive="yes" />
                        <ServiceControl Id="StartService" Name="ShutdownWS" Stop="both" Start="install" Remove="uninstall" Wait="yes" />
                  <File Id="ApplicationDLL" Source="shutdownDLL.dll"/>
                  <File Id="ApplicationConfig" Source="config.txt"/>
               </Component>
            </Directory>
         </Directory>
      </Directory>
      <Feature Id="DefaultFeature" Level="1">
         <ComponentRef Id="ApplicationFiles"/>
      </Feature>
   </Product>
</Wix>